.about {
  display: flex;

  & > div {
    padding: 2em;
  }
  ul.social-media {
    display: flex;
    justify-content: space-around;

    .fa {
      @extend .link-default;
      font-size: 1.5em;
    }
  }

  p {
    line-height: 1.80em;
  }
  img {
    border-radius: 50%;
    max-height: 30vh;
  }
}