.home {
	background-image: url('/images/cityscape.jpg');
    background-size: cover;
	background-position: center center;
	height: 100vh;
    text-align: center;
    justify-content: center;
	@extend .img-responsive;
    @extend .vertical-center;
    
    header {
        margin-bottom: 3em;
        width: 80%;
    }
    h1, h3 {
        @extend .uppercase;
    }

    h3 {
        font-size: 1.5em;
        font-weight: 500;
        span {
            font-weight: bold;
        }
    }
}