canvas {
    display: block;
    vertical-align: bottom;
  }
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

.home {
	background-image: url('/images/cityscape.jpg');
    background-size: cover;
	background-position: center center;
	height: 100vh;
    text-align: center;
    justify-content: center;
	@extend .img-responsive;
    @extend .vertical-center;
    
    header {
        margin-bottom: 3em;
        width: 80%;
        z-index: 55;

        img {
            border-radius: 50%;
            max-height: 20vh;
        }
    }
    h1, h3 {
        @extend .uppercase;
    }

    h3 {
        font-size: 1.5em;
        font-weight: 500;
        span {
            font-weight: bold;
        }
    }
    .fa-arrow-circle-right {
        color: $brand-primary;
        font-size: 3em;

        &:hover {
            color: lighten($brand-primary, 5%);
        }
    }
}
