
.container {
  max-width: 80%;
  margin: auto;
}

.photo-container ul li {
  list-style-type: none;
  display: inline;
  max-height: 200px;
  max-width: 200px;
}
.photo-container img {
  padding-right: 10px;
  height: 200px;
}
